$base-font: "Oswald", "Arial", sans-serif;
$base-color: #68b738;

$mobile-width: 320px;
$tablet-width: 768px;
$tablet-wdith-h: 768px;
$desktop-width: 1300px;

$mobile-padding: 20px;
$tablet-padding: 30px;
$desktop-padding: 40px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
