$base-font: "Fira Sans", "Arial", sans-serif;
$base-color: #68b738;

$mobile-padding: 20px;
$tablet-padding: 30px;
$desktop-padding: 30px;

$mobile-width: 322 + $mobile-padding * 2;
$tablet-width: 709 + $tablet-padding * 2;
$tablet-wdith-h: 768px;
$desktop-width: 1110 + $desktop-padding * 2;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
