@import "../utils/variables";

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin mobile-container {
  width: $mobile-width;
  margin: 0 auto;
  padding-left: $mobile-padding;
  padding-right: $mobile-padding;
}

@mixin tablet-container {
  width: $tablet-width;
  margin: 0 auto;
  padding-left: $tablet-padding;
  padding-right: $tablet-padding;
}

@mixin desktop-container {
  width: $desktop-width;
  margin: 0 auto;
  padding-left: $desktop-padding;
  padding-right: $desktop-padding;
}
